/* Todos los elementos de la página 
Tamaño de fuente: 16px
Familia de fuentes:Arial, Helvetica, sans-serif;

Todos los párrafos de la página 
color: #555;

Todos los párrafos contenidos en #primero 
color: #369;

Todos los enlaces de la página 
color: #C30;

Los elementos <em> contenidos en #primero 
color: #0000BB;
background-color: #FFFFCC;

Todos los elementos <em> con la clase "especial" en toda la página 
color: #FFFF00;
background: #000000;

Todos los elementos <span> contenidos en la clase "normal" 
font-weight: bold;
*/ 


a{
    color: #C30;
}

#primero{
color: #369;


}

#primero em{
    color: #0000BB;
background-color: #FFFFCC;  
}

#segundo{

   color: #555; 
}

.especial {

    color: #FFFF00;
    background: #000000;
}

.normal span{
font-weight: bold;

}